@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full w-full bg-gray-50 text-slate-800;
    /* Prevent bouncy scrolling on mobile web apps */
    overscroll-behavior-y: none;
  }
  
  #root {
    @apply h-full w-full flex flex-col overflow-hidden;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
